{% extends 'django_form_architect/base.html' %}

{% block content %}
	<div class='thin-column'>
		
	</div>
	<div class='main-column wide'>
		<div class='list-view-header'>
			<h2>Form Library</h2>
			
						
			<a href='{% url 'django_form_architect.views.build' %}' class='header-button'>
				<i class='icon-plus'></i> <span>add new</span>
			</a>
			<div class='header-button'>
				<input type='text' class='filter' />
			</div>
		</div>
			{% for form in forms %}
				<div class='list-view-item'>					
					<div class='list-view-name'>{{form.name}}</div>
					<a href='{% url 'django_form_architect.views.build' form.pid %}' class='list-view-button'>edit</a>
					<a href='#' class='list-view-button'>responses</a>
					<a href='{% url 'django_form_architect.views.share' form.pid %}' class='list-view-button'>share</a>
					<div style='clear:both;'>&nbsp;</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}